@import url('reset.css');

/* COMMON */
* {
    box-sizing:border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    line-height: 1;
}
.container {
    padding:0 10px;
    margin:0 auto;
}
img {
    vertical-align: top;
}
.hidden {
    display:none;
}
body {
    font-family: 'NanumSquareRound',sans-serif; 
    font-size: 12px;
    font-weight: 400; /* Regular(400), Bold(700), Extra Bold(800), Light(300) */
}
h1,h2,h3,h4,h5 {
    font-weight:bold;
}
a {
    text-decoration: none;
}
/* HEADER */
header .header_top {
    background: #F63131;
    display:flex;
    justify-content:space-between;
    height: 35px;
}
header .header_top .aside_toggle a {
    background: url(../images/hamburger@2x.png) no-repeat;
    display:inline-block;
    width: 18px;
    height: 14px;
    text-indent: -9999em;
}
header .header_top ul {
    display:flex;
}
