@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');


/* COMMON */
* {
    box-sizing:border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    line-height: 1;
}
.container {
    padding:0 10px;
    margin:0 auto;
}

.hidden {
    display:none;
}
.sprites {
    background: url(../images/sprites.png) no-repeat;
    display:inline-block;
    text-indent: -9999em;
}
img {
    vertical-align: top;
}
body {
    font-family: 'NanumSquareRound', sans-serif; /* en : font-family: 'Roboto', sans-serif; */
    font-size: 12px;
    font-weight: 400; /* Regular(400), Bold(700), Extra Bold(800), Light(300) */
    overflow-x:hidden;
    color:#2c2c2c;
    position: relative;
    left:0;
    transition:left 0.4s;
}
body.aside_open {
    left:80%;
}
body:before {
    background: rgba(255,255,255,0.8);
    content:'';
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-indeX:998;
    visibility:hidden;
    opacity:0;
}
body.aside_open:before {
    visibility:visible;
    opacity:1;
}
h1,h2,h3,h4,h5 {
    font-weight:bold;
}
a {
    text-decoration: none;
    color:#2c2c2c;
}
/* HEADER */
header {
    position: relative;
}
header .header_top {
    background: #F63131;
    display:flex;
    justify-content:space-between;
    height: 40px;
    align-items:center;
    z-index:2;
}
header .header_top .aside_toggle a {
    display:inline-block;
    width: 18px;
    height: 16px;
    text-indent: -9999em;
    background-position:-145px -32px;
}
header .header_top ul {
    display:flex;
}
header .header_top ul li {
    margin-left: 15px;
}
header .header_top ul li a {
    font-size: 14px;
    font-weight: 800;
    color:#fff;
}
header .header_top ul li:nth-child(1),header .header_top ul li:nth-child(2) {
    line-height: 20px;
}
header .header_top ul li:nth-child(3) a{
    background-position:-257px -32px;
    width: 20px;
    height: 20px;
    position: relative;
}
header .header_top ul li:nth-child(3) a:after {
    content:attr(data-cart);
    border-radius:50%;
    background: #fff;
    width:13px;
    height: 13px;
    position: absolute;
    right:-5px;
    bottom:-5px;
    color:#2c2c2c;
    font-size: 8px;
    text-indent: 0;
    text-align: center;
    line-height: 14px;
}
header .header_top ul li:nth-child(4) a{
    background-position:-287px -32px;
    width: 20px;
    height: 20px;
}
header form {
    position: absolute;
    /* top:-100%; */
    left:0;
    right:0;
    background: #ddd;
    padding:8px 15px;
}
header form input[type="text"] {
    background: #fff;
    height: 25px;
    width:100%;
    border-radius:2px;
    border:none;
    color:#a1a1a3;
    padding-left: 10px;
    font-size: 12px;
}
header form input[type="submit"] {
    opacity:0;
    position: absolute;
}
header form .close a{
    background-position:-365px -33px;
    width:17px;
    height: 17px;
    position: absolute;
    right:1.5em;
    bottom:0.8em;
}
header .header_bottom {
    padding-top:55px;
}
header .header_bottom .header_title{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
header .header_bottom span {
    font-size: 20px;
    font-weight: 700;
}
header .header_bottom span em {
    color:#F63131;
}
header .header_bottom .logo a{
    background-position:-362px -114px;
    width: 40px;
    height: 40px;
}
header .header_bottom .main_nav {
    border-top:1px solid #2c2c2c;
    border-bottom:1px solid #2c2c2c;
    padding:15px 0;
    width:100%;
}
header .header_bottom .main_nav ul li {
    text-align: center;
}
header .header_bottom .main_nav ul li a {
    font-size: 16px;
    font-weight: 700;
    display:block;
}
.main_search_form {
    position: absolute;
    top:-100%;
    transition:top 0.4s
}
.main_search_form.on {
    top:40px;
    z-index:1;
}
/* ASIDE */
.aside {
    position: fixed; 
    left:-100%;
    z-index:999;
    background: #fff;
    top:0;
    width:80%;
    box-shadow:3px 0px 3px rgba(0,0,0,.25);
    transition:left 0.3s ease-in-out;
    height: 100vh;
}
.aside.open {
    left:0;
}
.aside_close {
    background-position:-412px -119px;
    width: 41px;
    height: 41px;
    position: absolute;
    right:-20%;
    top:1%;
}
.aside .aside_top {
    padding:0 10px;
    height: 35px;
    display:flex;
    background: #F63131;
    align-items:center;
    justify-content:space-between;
    position: relative;
    z-index:1;
}
.aside_top .aside_logo a{
    background-position:-389px -34px;
    width: 24px;
    height: 24px;
}
.aside_top_left {
    display:flex;
}
.aside_top_left span {
    font-size: 14px;
    font-weight: 800;
    color:#fff;
    line-height: 24px;
    margin-left: 10px;
}
.aside_top_right a {
    background-position:-287px -32px;
    width: 20px;
    height: 20px;
}
.aside_search_form {
    position: absolute;
    z-index:-1;
    transition:0.3s;
    top:-120%;
}
.aside_search_form.on {
    top:100%;
}
.aside_line01, .aside_line02{
    display:flex;
    text-align: center;
    margin-bottom: 10px;
}
.aside_line01 a, .aside_line02 a{
    flex:1;
    font-size: 14px;
    border:1px solid #ebebeb;
    height: 25px;
    line-height: 25px;
}
.aside_line02 {
    margin-bottom: 20px;
}
.aside_line02 a {
    height: 65px;
    padding-top:35px;
    position: relative;
}
.aside_line02 a:before {
    content:attr(data-aside);
    color:#F63131;
    position: absolute;
    left:50%;
    top:10%;
    transform:translateX(-50%);
}
.aside h2 {
    font-size: 14px;
    font-weight: 800;
    border-bottom:1px solid #2c2c2c;
    display:inline-block;
    position: relative;
    left:50%;
    transform:translateX(-50%);
    margin-bottom: 20px;
}
.aside h2 em {
    color:#F63131;
}
.aside_menus .aside_title {
    display:flex;
    text-align: center;
}
.aside_menus .aside_title li{
    flex:1;
    border-top:1px solid #ebebeb;
}
.aside_menus .aside_title li:first-child {
    border-right:1px solid #ebebeb;
}
.aside_menus .aside_title li a {
    font-size: 14px;
    line-height: 25px;
    height: 25px;
}
.ui-tabs-active {
    background: #F6E6E6;
}
.aside_category, .aside_board {
    background: #f6e6e6;
    padding:20px;
    height: 100vh;
}
.aside_category .aside_sub:last-child {
    border-bottom:1px solid #2c2c2c;
    padding-bottom:20px;
    margin-bottom: 20px;
}
.aside_menus_title a{
    font-size: 14px;
}
.aside_menus_title{
    display:flex;
    justify-content:space-between;
}
.aside_sub {
    margin-bottom: 20px;
}
.category_sub {
    padding:15px 15px 5px 15px;
}
.category_sub li {
    margin-bottom: 10px;
}
.category_sub li:last-child{
    margin-bottom: 0;
}
.aside_support h3 {
    font-weight: 400;
    font-size: 14px;
}
.aside_ac {
    transition:0.4s;
}
.aside_menus_title.active .aside_ac {
    transform:rotate(-180deg);
}
.aside_support_desc {
    font-weight: 300;
    font-size: 14px;
    margin-top: 10px;
}
.aside_support_desc em{
    font-weight: 700;
    text-transform: uppercase;
    margin-right:5px;
}
.aside_support_desc span{
    line-height: 20px;
}
.aside_support_desc span:last-child{
    margin-bottom: 0;
}
.aside_board li {
    margin-bottom: 20px;
}
.aside_board li:last-child {
    border-bottom: 1px solid #2c2c2c;
    padding-bottom:20px;
}
.aside_board li a {
    font-size: 14px;
    text-transform: uppercase;
}
/* ---------------------------------------------- MAIN ------------------------------------------- */
.main_banner {
    margin-top: 30px;
}
.main_banner .banner_top {
    display:flex;
    justify-content:space-between;
}
.main_banner .main_slide_wrap {
    height: auto;
    width:65%;
}
.main_banner .banner_top_right {
    width:34%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.main_banner .banner_01 {
    height: 49.3%;
}
.main_banner .banner_02 {
    height: 49.3%;
}
.main_banner .banner_01 img {
    width:100%;
    height:100%;
}
.main_banner .banner_02 img {
    width:100%;
    height:100%;
}
.banner_bottom {
    display:flex;
    justify-content:space-between;
    margin-top: 0.3em;
}
.banner_bottom .banner_03 {
    width:49.5%;
}
.banner_bottom .banner_03 img {
    width:100%;
}
.banner_bottom .banner_04 {
    width:49.5%;
}
.banner_bottom .banner_04 img {
    width:100%;
}
.bx-prev, .bx-next {
    display:none;
}
.bx-wrapper {
    position: relative;
}
.bx-pager {
    position: absolute;
    bottom:0;
    right:0.5em;
    display:flex;
}
.bx-pager-item .bx-pager-link{
    background: #fff;
    margin: 0.3em;
    border-radius:50%;
    width: 0.5em;
    height: 0.5em;
    text-indent: -999em;
    display:inline-block;
}
.bx-pager-item .bx-pager-link.active {
    background: #2c2c2c;
}
/* NEW ARRIVALS */
.new {
    text-align: center;
    padding:30px 10px;
}
section .section_title {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.new ul {
    display:flex;
    justify-content:space-between;
}
.new ul li {
    width:31%;
}
.new ul li img {
    width:100%;
    border-radius:2px;
}
.com_wrap {
    border:1px solid #ebebeb;
    border-radius: 0 0 2px 2px;
}
.com_desc {
    margin-top:10px;
    position: relative;
}
.com_desc h2 {
    font-size: 11px;
}
.com_desc h3 {
    font-size: 10px;
    margin: 10px 0;
    font-weight: 400;
}
.com_desc span {
    color:#F63131;
}
.com_desc span:after {
    content:'';
    display:block;
    position: absolute;
    height: 1px;
    background: #ddd;
    width:80%;
    left:50%;
    margin-top: 10px;
    transform:translateX(-50%);
}
.com_kit {
    display:flex;
    padding:10px 6px;
    position: relative;
    align-items:center;
    margin-top:10px;
}
.com_kit a:first-child {
    background-position: -117px -31px;
    width: 18px;
    height: 18px;
}
.com_kit a:nth-child(2) {
    background-position: -24px -32px;
    width: 20px;
    height: 20px;
    margin-left:18px;
}
.com_kit input {
    display:none;
}
.com_kit input:checked + label .heart_red {
    opacity:1;
}
.com_kit input:checked + label .heart_normal {
    opacity:0;
}
.com_kit span {
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    right:5px;
}
.com_kit .heart_normal {
    background-position: -202px -33px;
    width: 19px;
    height: 16px;
}
.com_kit .heart_red {
    background-position: -228.5px -33px;
    width: 19px;
    height: 16px;
    opacity:0;
} 
.com_kit a {
    vertical-align: bottom;
}
/* ADV */
.adv_banner .adv {
    background:url(../images/adv.png) no-repeat center;
    height: 100px;
    position: relative;
}
.adv_banner .adv a{
    background-position: -82px -32px;
    width: 25px;
    height: 11px;
    position: absolute;
    bottom:10px;
    right:10px;
}
/* PARROT */ 
.parrot {
    text-align: center;
    padding:30px 10px;
}
.parrot ul {
    display:flex;
    justify-content:space-between;
}
.parrot ul li {
    width:31%;
}
.parrot ul li img {
    width:100%;
    border-radius:2px;
}
.parrot_desc h3 {
    height: 22px;
    line-height: 12px;
}
/* WEEKLY BEST */ 
.best {
    text-align: center;
    padding:0 10px 70px;
}
.best ul {
    display:flex;
    justify-content:space-between;
}
.best ul li {
    width:31%;
}
.best ul li img {
    width:100%;
    border-radius:2px;
}
/* IMG ZOOM */
.img_lightbox {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    transition: opacity .3s ease-in;
    z-index:100;
}
.img_lightbox.opa {
    opacity:1;
    pointer-events:auto;
}
#lightbox_img {
    border-radius:2px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:80%;
    height:260px;
}
.lightbox_close {
    background-position:-204px -113px;
    width:25px;
    height: 25px;
    position: absolute;
    right:8%;
    top:28%;
}
/* CARTBOX */
.cart_box {
    padding:20px 10px;
    background: #fff;
    border:1px solid #000;
    position: fixed;
    top:50%;
    transform:translateY(-50%);
    right:10px;
    left:10px;
    opacity:0;
    visibility:hidden;
    transition:0.4s;
}
.cart_box.click {
    opacity:1;
    visibility:visible;
}
.cart_box_close {
    background-position:-204px -113px;
    width:25px;
    height: 25px;
    position: absolute;
    right:5px;
    top:10px;
    cursor:pointer;
}
.cart_box h2 {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    border-bottom:1px solid #ebebeb;
    padding-bottom:10px;
    margin-bottom: 10px;
}
.cart_box .cart_box_contents {
    display:flex;
}
.cart_box .cart_box_contents img {
    margin-right: 10px;
    width:50%;
}
.cart_box .cart_box_contents .cart_desc {
    width:50%;
    display:flex;
    flex-direction:column;
    text-align: left;
}
.cart_box .cart_box_contents .cart_desc h3,
 .cart_box .cart_box_contents .cart_desc span,
 .cart_box .cart_box_contents .cart_desc h4,
 .cart_box .cart_box_contents .cart_desc input {
    margin-bottom: 10px;
}
.cart_box .cart_box_contents .cart_desc h3,
.cart_box .cart_box_contents .cart_desc h4 {
    font-weight: 400;
}
.cart_desc_price {
    display:flex;
}
.cart_desc_price h4 {
    margin-right: 3px;
}
.cart_box .cart_box_contents .option .option_count {
    display:flex;
}
.cart_box .cart_box_contents .option .option_count h4 {
    margin-right: 5px;
    line-height: 20px;
}
.cart_box .cart_box_contents .option .option_count input {
    width:30%;
}
.cart_box .cart_box_contents .option .option_count .plus {
    background-position: -423px -33px;
    width: 20px;
    height: 20px;
    margin: 0 10px;
}
.cart_box .cart_box_contents .option .option_count .minus {
    background-position: -453px -33px;
    width: 20px;
    height: 20px;
}
.cart_link a{
    border:1px solid #ddd;
    display:block;
    text-align: center;
    line-height: 20px;
    height:20px;
}
/* -------------------------------------------- FOOTER ------------------------------------------- */
.cs_center, .bank_info {
    display:flex;
}
.cs_center .cs_left, .bank_info .bank_left {
    border:1px solid #ebebeb;
    flex:0.9;
    padding:25px 10px;
    text-align: center;
    display:flex;
    flex-direction:column;
}
.cs_icon, .bank_icon {
    display:flex;
    align-items:center;
    margin-bottom: 20px;
    justify-content:center;
}
.cs_center .cs_left span:first-child, .bank_info .bank_left span:first-child {
    width: 25px;
    height: 25px;
    display:inline-block;
}
.cs_center .cs_left span img,.bank_info .bank_left span img {
    width:100%;
}
.cs_center .cs_left span:nth-child(2), .bank_info .bank_left span:nth-child(2) {
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 5px;
}
.cs_center .cs_left button, .bank_info .bank_left button{
    background: #fff;
    font-size: 12px;
    border:1px solid #2c2c2c;
    border-radius:2px;
    padding:7px 10px;
}
.cs_center .cs_right, .bank_info .bank_right {
    border:1px solid #ebebeb;
    border-left:none;
    flex:1.3;
    padding:15px 5px;
    text-align: center;
}
.cs_center .cs_right span {
    font-size: 16px;
    display:block;
    margin-bottom: 10px;
}
.cs_center .cs_right p, .bank_info .bank_right p{
    font-size: 12px;
    margin-bottom: 10px;
}
.cs_center .cs_right p em, .bank_info .bank_right p em {
    font-weight: 700;
    margin-right: 5px;
}
.cs_center .cs_right p:last-child, .bank_info .bank_right p:last-child {
    color:#F63131;
    margin-bottom: 0;
}
.return {
    border-bottom:1px solid #ebebeb;
    padding: 25px 10px;
}
.return p {
    font-weight: 300;
}
.return p strong {
    font-size: 16px;
    font-weight: 600;
    vertical-align: middle;
    margin-right: 10px;
}
.etc {
    display:flex;
    padding:20px;
    justify-content:space-between;
    border-bottom:1px solid #ebebeb;
    text-transform: uppercase;
}
.etc li:nth-child(3) {
    font-weight: 700;
}
.company_info {
    padding: 20px 0 0 20px;
}
.company_info p {
    margin-bottom: 10px;
    font-weight: 300;
}
.company_info p em {
    font-weight: 700;
    margin-right: 10px;
}
.company_info p:last-child {
    margin-bottom: 25px;
}
.social {
    text-align: center;
    margin-bottom: 25px;
}
.social span {
    margin-right: 25px;
}
.social span:last-child {
    margin-right: 0;
}
.color{
    color:#F63131;
    font-size: 25px;
}
.copy {
    background: #F63131;
    text-align: center;
}
.copy p {
    color:#fff;
    line-height: 25px;
    height: 25px;
    font-size: 11px;
}
.updownBtn {
    position: fixed;
    right:10px;
    bottom:100px;
    display:flex;
    flex-direction:column;
    cursor:pointer;
}
.updownBtn .upBtn {
    background-position:-132px -65px;
    width: 26px;
    height: 28px;
    margin-bottom: 15px;
}
.updownBtn .downBtn {
    background-position:-168px -112px;
    width: 26px;
    height: 28px;
}/* INDEX END */

/*-------------------------------- LOGIN -------------------------------------*/
.wrapper {
    background: #F6E6E6;
    padding:50px 30px;
}
.wrapper .page_back {
    position: absolute;
    left:15px;
    top:15px;
    font-size: 20px;
}
.wrapper .login_logo_title {
    text-align: center;
    position: relative;
}
.wrapper .login_logo_title span {
    position: absolute;
    font-size: 12px;
    width:130px;
    background: #fff;
    padding:10px 2px;
    top:-5px;
    left:185px;
    opacity:0;
    transition:0.3s;
}
.login_logo_title .login_logo {
    margin-bottom: 10px;
}
.login_logo_title .login_logo a {
    background-position:-362px -114px;
    width: 40px;
    height: 40px;
}
.login_logo_title .login_logo:after {
    content:'';
    position: absolute;
    border-width:9px;
    border-style:solid;
    border-color:transparent #fff transparent  transparent;
    top:8px;
    left:169px;
    opacity:0;
    transition:0.3s;
}
.error .login_logo_title .login_logo:after {
    opacity:1;
}
.error .login_logo_title span {
    opacity:1;
}
.error #login_input {
    border:2px solid #F63131;
}
.error #password_input {
    border:2px solid #F63131;
    
}
.login_logo_title h2 {
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 40px;
}
.login_password_form {
    position: relative;
}
#login_input, #password_input {
    width:100%;
    height: 50px;
    border:2px solid transparent;
    border-radius:2px;
    font-size: 14px;
    color:#2c2c2c;
    background: #fff;
    padding-left:10px;
    line-height: 50px;
    margin-bottom: 20px;
}
#login_input::placeholder, #password_input::placeholder {
    color:#a1a1a3;
}
.exclamation1, .exclamation2 {
    position: absolute;
    background-position: 0 -32px;
    width:14px;
    height: 23px;
    right:10px;
    opacity:0;
    transition:0.3s;
}
.exclamation1 {
    top:25px;
    transform:translateY(-50%);
}
.exclamation2 {
    top:95px;
    transform:translateY(-50%);
}
.error .exclamation1, .error .exclamation2 {
    opacity:1;
}
.maintain_remember_security {
    margin-bottom: 40px;
}
.maintain_remember_security label {
    width:15px;
    height: 15px;
    background: #fff;
    border:1px solid #2c2c2c;
    border-radius:2px;
    display:inline-block;
    margin-right: 10px;
}
.maintain_remember_security input{
    display:none;
}
.maintain_remember_security input:checked + label {
    background: #F63131;
    border:none;
}
.maintain_remember_security span {
    font-size: 14px;
    font-weight: 300;
    line-height: 15px;
    vertical-align: top;
    margin-right: 10px;
}
.maintain_remember_security .security {
    width:0;
    height: 0;
    border:none;
    background: none;
    position: relative;
}
.maintain_remember_security .security span {
    width:30px;
    position: absolute;
    right:-40px;
    top:-15px;
}
.maintain_remember_security .security .sec_on,
.maintain_remember_security .security .sec_off {
    text-transform: uppercase;
    font-size: 14px;
    right:-70px;
    transition:0.3s;
}
.maintain_remember_security .security .sec_on {
    opacity:0;
    color:#F63131;
    font-weight: 700;
}
.maintain_remember_security .security .sec_off {
    color:#2c2c2c;
    font-weight: 700;
}
#security:checked + label .sec_on {
    opacity:1;
}
#security:checked + label .sec_off {
    opacity:0;
}
.btns {
    display:flex;
    flex-direction:column;
}
.btns .login_btn {
    height: 50px;
    background: #F86565;
    border:none;
    border-radius:2px;
    color:#fff;
    font-size: 14px;
    position: relative;
}
.btns .login_btn:before {
    position: absolute;
    content:'';
    background:url(http://cdn.zetawiki.com/png/backslash.png);
    background-size:100% 100%;
    left:0; right:0; top:0; bottom:0;
    opacity:0;
    transition:0.3s;
}
.btns .login_btn:after {
    position: absolute;
    content:'';
    background:url(http://cdn.zetawiki.com/png/slash.png);
	background-size:100% 100%;
    left:0; right:0; top:0; bottom:0;
    opacity:0;
    transition:0.3s;
}
.error .login_btn {
    border:1px solid #2c2c2c;
    background: none;
    color:#F6E6E6;
}
.error .login_btn:after {
    opacity:1;
}
.error .login_btn:before {
    opacity:1;
}
.btns .join_btn {
    height: 50px;
    background:none;
    border:2px solid #DEC7C3;
    border-radius:2px;
    color:#2c2c2c;
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
    line-height: 50px;
}
.btns span {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin:7px 0 ;
}
.snsbtns .kakao_btn, .snsbtns .naver_btn {
    width:49%;
    border:1px solid #DEC7C3;
    height: 40px;
    border-radius:2px;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 40px;
}
.snsbtns .kakao_btn {
    margin-right:2px;
    background: #FFEE33;
}
.snsbtns .naver_btn {
    background: #03C75A;
}
.lookup {
    font-size: 14px;
    display:flex;
    justify-content:space-between;
    padding:0 10px;
}/* LOGIN END */

/*---------------------------------------------- JOIN -------------------------------------------------------*/
.join_wrapper label{
    font-size: 14px;
    font-weight: 800;
}
.join_wrapper input {
    background: none;
    border:none;
    padding:15px 0;
    border-bottom:2px solid #a1a1a3;
    margin-bottom: 15px;
}
.join_wrapper input::placeholder {
    color:#a1a1a3;
    font-size: 16px;
}
.user_id, .user_pw, .user_nick, .user_birth {
    display:flex;
    flex-direction:column;
}
.sup_txt {
    font-size: 12px;
    color:#616161;
    margin-bottom: 5px;
}
.sup_txt_last {
    margin-bottom: 40px;
}
.user_pw .pw_del {
    position: relative;
}
.user_pw .pw_del input {
    width:100%;
}
.user_pw .pw_del .text_del {
    background-position:-204px -113px;
    width:25px;
    height: 25px;
    position: absolute;
    right:0;
    top:10px;
}
.user_nick .nick_count {
    position: relative;
}
.user_nick .nick_count input {
    width:100%;
}
.user_nick .nick_count span {
    position: absolute;
    right:0;
    top:20px;
    font-size: 12px;
    color:#a1a1a3;
}
.user_number {
    position: relative;
}
.user_number select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background:url(../images/chevron.png) no-repeat 100% 50%;
    border:none;
    height: 20px;
    width:50px;
    outline:none;
    position: absolute;
    left:0;
    top:2em;
}
.user_number span {
    position: absolute;
    top:1.8em;
    left:60px;
    font-size: 16px;
    color:#a1a1a3;
}
.user_number input {
    width:100%;
    padding: 15px 0 15px 75px;
}
.numberBtn {
    font-size: 16px;
    background: #fff;
    border:1px solid #2c2c2c;
    border-radius:2px;
    padding:13px 30px;
    margin-left: 42%;
    margin-bottom: 50px;
}
.user_birth {
    border-bottom:2px solid #a1a1a3;
    padding:15px 0;
    margin-bottom: 15px;
}
.birth_row {
    display:flex;
    flex-direction:row;
    margin-top: 15px;
}
.user_birth select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background:url(../images/chevron.png) no-repeat 100% 50%;
    border:none;
    height: 20px;
    width:40px;
    font-size: 16px;
}
.user_birth span {
    font-size: 16px;
}
.user_birth .lunar {
    background-position: -173px -31px;
    width:20px;
    height: 20px;
    vertical-align: top;
    margin-right: 5px;
}
#lunar_input {
    display:none;
}
#lunar_input:checked + label{
    background-position: -483px -33px;
}
#years {
    width:50px;
    margin-right: 40px;
}
#month {
    margin-right: 23px;
}
#day {
    margin-right: 23px;
}
.user_sex label {
    background-position: -173px -31px;
    width:20px;
    height: 20px;
    vertical-align: top;
    margin-right: 5px;
}
.user_sex input {
    display:none;
}
.user_sex input:checked + label {
    background-position: -483px -33px;
}
.user_sex span {
    font-size: 16px;
    margin-right: 50px;
}
