@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');


/* COMMON */
* {
    box-sizing:border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    line-height: 1;
}
.container {
    padding:0 10px;
    margin:0 auto;
}

.hidden {
    display:none;
}
.sprites {
    background: url(../images/sprites.png) no-repeat;
    display:inline-block;
    text-indent: -9999em;
}
img {
    vertical-align: top;
}
body {
    font-family: 'NanumSquareRound', sans-serif; /* en : font-family: 'Roboto', sans-serif; */
    font-size: 12px;
    font-weight: 400; /* Regular(400), Bold(700), Extra Bold(800), Light(300) */
    overflow-x:hidden;
    color:#2c2c2c;
}
h1,h2,h3,h4,h5 {
    font-weight:bold;
}
a {
    text-decoration: none;
    color:#2c2c2c;
}
/* HEADER */
header {
    position: relative;
}
header .header_top {
    background: #F63131;
    display:flex;
    justify-content:space-between;
    height: 40px;
    align-items:center;
}
header .header_top .aside_toggle a {
    display:inline-block;
    width: 18px;
    height: 16px;
    text-indent: -9999em;
    background-position:-145px -32px;
}
header .header_top ul {
    display:flex;
}
header .header_top ul li {
    margin-left: 15px;
}
header .header_top ul li a {
    font-size: 14px;
    font-weight: 800;
    color:#fff;
}
header .header_top ul li:nth-child(1),header .header_top ul li:nth-child(2) {
    margin-top: 3px;
}
header .header_top ul li:nth-child(3) a{
    background-position:-257px -32px;
    width: 20px;
    height: 20px;
    position: relative;
}
header .header_top ul li:nth-child(3) a:after {
    content:attr(data-cart);
    border-radius:50%;
    background: #fff;
    width:13px;
    height: 13px;
    position: absolute;
    right:-5px;
    bottom:-5px;
    color:#2c2c2c;
    font-size: 8px;
    text-indent: 0;
    text-align: center;
    line-height: 14px;
}
header .header_top ul li:nth-child(4) a{
    background-position:-287px -32px;
    width: 20px;
    height: 20px;
}
.aside {
    position: fixed;
    left:-100%;
}
header form {
    position: absolute;
    /* top:-100%; */
    left:0;
    right:0;
    background: #ddd;
    padding:8px 15px;
}
header form input[type="text"] {
    background: #fff;
    height: 25px;
    width:100%;
    border-radius:2px;
    border:none;
    color:#a1a1a3;
    padding-left: 10px;
    font-size: 12px;
}
header form input[type="submit"] {
    opacity:0;
    position: absolute;
}
header form .close a{
    background-position:-365px -33px;
    width:17px;
    height: 17px;
    position: absolute;
    right:1.5em;
    bottom:0.8em;
}
header .header_bottom {
    padding-top:55px;
}
header .header_bottom .header_title{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
header .header_bottom span {
    font-size: 20px;
    font-weight: 700;
}
header .header_bottom span em {
    color:#F63131;
}
header .header_bottom .logo a{
    background-position:-362px -114px;
    width: 40px;
    height: 40px;
}
header .header_bottom .main_nav {
    border-top:1px solid #2c2c2c;
    border-bottom:1px solid #2c2c2c;
    padding:15px 10px;
    width:100%;
}
header .header_bottom .main_nav ul {
    display:flex;
    justify-content:space-between;
}
header .header_bottom .main_nav ul li a {
    font-size: 16px;
    font-weight: 700;
}
/* ---------------------------------------------- MAIN ------------------------------------------- */
.main_banner {
    margin-top: 30px;
}
.main_banner .banner_top {
    display:flex;
    justify-content:space-between;
}
.main_banner .main_slide_wrap {
    height: auto;
    width:65%;
}
.main_banner .banner_top_right {
    width:34%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.main_banner .banner_01 {
    height: 49%;
}
.main_banner .banner_02 {
    height: 49%;
}
.main_banner .banner_01 img {
    width:100%;
    height:100%;
}
.main_banner .banner_02 img {
    width:100%;
    height:100%;
}
.banner_bottom {
    display:flex;
    justify-content:space-between;
    margin-top: 0.3em;
}
.banner_bottom .banner_03 {
    width:49.5%;
}
.banner_bottom .banner_03 img {
    width:100%;
}
.banner_bottom .banner_04 {
    width:49.5%;
}
.banner_bottom .banner_04 img {
    width:100%;
}
.bx-prev, .bx-next {
    display:none;
}
.bx-wrapper {
    position: relative;
}
.bx-pager {
    position: absolute;
    bottom:0;
    right:0.5em;
    display:flex;
}
.bx-pager-item .bx-pager-link{
    background: #fff;
    margin: 0.3em;
    border-radius:50%;
    width: 0.5em;
    height: 0.5em;
    text-indent: -999em;
    display:inline-block;
}
.bx-pager-item .bx-pager-link.active {
    background: #2c2c2c;
}
/* NEW ARRIVALS */
.new {
    text-align: center;
    padding:30px 10px;
}
section .section_title {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.new ul {
    display:flex;
    justify-content:space-between;
}
.new ul li {
    width:31%;
}
.new ul li img {
    width:100%;
    border-radius:2px;
}
.com_wrap {
    border:1px solid #ebebeb;
    border-radius: 0 0 2px 2px;
}
.com_desc {
    margin-top:10px;
    position: relative;
}
.com_desc h2 {
    font-size: 11px;
}
.com_desc h3 {
    font-size: 10px;
    margin: 10px 0;
    font-weight: 400;
}
.com_desc span {
    color:#F63131;
}
.com_desc span:after {
    content:'';
    display:block;
    position: absolute;
    height: 1px;
    background: #ddd;
    width:80%;
    left:50%;
    margin-top: 10px;
    transform:translateX(-50%);
}
.com_kit {
    display:flex;
    padding:10px 6px;
    position: relative;
    align-items:center;
    margin-top:10px;
}
.com_kit a:first-child {
    background-position: -117px -31px;
    width: 18px;
    height: 18px;
}
.com_kit a:nth-child(2) {
    background-position: -24px -32px;
    width: 20px;
    height: 20px;
    margin-left:18px;
}
.com_kit input {
    display:none;
}
.com_kit input:checked + label .heart_red {
    opacity:1;
}
.com_kit input:checked + label .heart_normal {
    opacity:0;
}
.com_kit span {
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    right:5px;
}
.com_kit .heart_normal {
    background-position: -202px -33px;
    width: 19px;
    height: 16px;
}
.com_kit .heart_red {
    background-position: -228.5px -33px;
    width: 19px;
    height: 16px;
    opacity:0;
} 
.com_kit a {
    vertical-align: bottom;
}
/* ADV */
.adv_banner .adv {
    background:url(../images/adv.png) no-repeat center;
    height: 100px;
    position: relative;
}
.adv_banner .adv a{
    background-position: -82px -32px;
    width: 25px;
    height: 11px;
    position: absolute;
    bottom:10px;
    right:10px;
}
/* PARROT */ 
.parrot {
    text-align: center;
    padding:30px 10px;
}
.parrot ul {
    display:flex;
    justify-content:space-between;
}
.parrot ul li {
    width:31%;
}
.parrot ul li img {
    width:100%;
    border-radius:2px;
}
.parrot_desc h3 {
    height: 22px;
    line-height: 12px;
}
/* WEEKLY BEST */ 
.best {
    text-align: center;
    padding:0 10px 70px;
}
.best ul {
    display:flex;
    justify-content:space-between;
}
.best ul li {
    width:31%;
}
.best ul li img {
    width:100%;
    border-radius:2px;
}
/* -------------------------------------------- FOOTER ------------------------------------------- */
.cs_center, .bank_info {
    display:flex;
}
.cs_center .cs_left, .bank_info .bank_left {
    border:1px solid #ebebeb;
    flex:0.7;
    padding:25px 10px;
    text-align: center;
    display:flex;
    flex-direction:column;
}
.cs_icon, .bank_icon {
    display:flex;
    align-items:center;
    margin-bottom: 20px;
    justify-content:center;
}
.cs_center .cs_left span:first-child, .bank_info .bank_left span:first-child {
    width: 25px;
    height: 25px;
    display:inline-block;
}
.cs_center .cs_left span img,.bank_info .bank_left span img {
    width:100%;
}
.cs_center .cs_left span:nth-child(2), .bank_info .bank_left span:nth-child(2) {
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 5px;
}
.cs_center .cs_left button, .bank_info .bank_left button{
    background: #fff;
    font-size: 12px;
    border:1px solid #2c2c2c;
    border-radius:2px;
    padding:7px 10px;
}
.cs_center .cs_right, .bank_info .bank_right {
    border:1px solid #ebebeb;
    border-left:none;
    flex:1.3;
    padding:15px 5px;
    text-align: center;
}
.cs_center .cs_right span {
    font-size: 16px;
}
.cs_center .cs_right p, .bank_info .bank_right p{
    font-size: 12px;
    margin-bottom: 10px;
}
.cs_center .cs_right p em, .bank_info .bank_right p em {
    font-weight: 700;
    margin-right: 5px;
}
.cs_center .cs_right p:last-child, .bank_info .bank_right p:last-child {
    color:#F63131;
    margin-bottom: 0;
}
.return {
    border-bottom:1px solid #ebebeb;
    padding: 25px 10px;
}
.return p {
    font-weight: 300;
}
.return p strong {
    font-size: 16px;
    font-weight: 600;
    vertical-align: middle;
    margin-right: 10px;
}
.etc {
    display:flex;
    padding:20px;
    justify-content:space-between;
    border-bottom:1px solid #ebebeb;
    text-transform: uppercase;
}
.etc li:nth-child(3) {
    font-weight: 700;
}
.company_info {
    padding: 20px 0 0 20px;
}
.company_info p {
    margin-bottom: 10px;
    font-weight: 300;
}
.company_info p em {
    font-weight: 700;
    margin-right: 10px;
}
.company_info p:last-child {
    margin-bottom: 25px;
}
.social {
    font-size: 25px;
    text-align: center;
    margin-bottom: 25px;
}
.social span {
    margin-right: 25px;
}
.social span:last-child {
    margin-right: 0;
}
.social .color{
    color:#F63131;
}
.copy {
    background: #F63131;
    text-align: center;
}
.copy p {
    color:#fff;
    line-height: 25px;
    height: 25px;
    font-size: 11px;
}
.updownBtn {
    position: fixed;
    right:10px;
    bottom:100px;
    display:flex;
    flex-direction:column;
}
.updownBtn .upBtn {
    background-position:-131px -66px;
    width: 28px;
    height: 26px;
    margin-bottom: 15px;
}
.updownBtn .downBtn {
    background-position:-167px -113px;
    width: 28px;
    height: 26px;
}